* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background: linear-gradient(to left top, #65dfc9, #6cdbeb);
  min-height: 100vh;
  padding: 1rem 0;
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: poppins, sans-serif;
}

.glass {
  min-height: 75vh;
  width: 80%;
  background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
  border-radius: 1rem;
  z-index: 2;
  backdrop-filter: blur(1rem);
}

.circle1, .circle2 {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  background: linear-gradient(to right bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.3));
  position: absolute;
}

.circle1 {
  top: 0%;
  right: 5%;
}

.circle2 {
  bottom: 0%;
  left: 5%;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.user img {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.username {
  font-size: 24px;
  color: #2c8286;
}

.subtitle {
  font-size: 1rem;
  color: #2c8286;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
  border-radius: 1rem;
}

.links {
  width: 50%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.link {
  font-size: 20px;
  color: #2395a0;
  padding: 0rem 1rem;
  margin: 0.5rem 0rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.link:hover {
  opacity: 0.5;
}

.link.active {
  color: white;
  background: linear-gradient(to left top, #65dfc9, #6cdbeb);
}

.active{
  transition: all 100ms ease forwards;
}

.projects {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 1rem 0rem;
  padding: 0.5rem;
  animation: pop-in 1.2s cubic-bezier(0.4, 0, 0.51, 1.22);
  flex-wrap: wrap;
  padding: 0.5rem;
}

.project img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  margin: 0.5rem 0rem;
  background: linear-gradient(to left top, #65dfc9, #6cdbeb);
}

.project {
  background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.5rem;
  height: auto;
  width: 15rem;
  min-width: 200px;
  color: #000;
  text-decoration: none;
}

@keyframes pop-in {
  100% {
    width: 100%;
  }
  0% {
    width: 85%;
  }
}

.about {
  background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  color: #2c8286;
  line-height: 2rem;
  /* animation: pop-in 1.2s ease-in-out; */
}

.greeting {
  margin-bottom: 1rem;
}

.title {
  font-size: 24px;
  color: #2c8286;
  font-weight: 500;
  margin-bottom: 0.5rem;
  width:fit-content;
}

.description {
  margin: 1rem;
}

.title a {
  color:inherit;
  text-decoration: none;
}

.title:hover {
  text-decoration: underline;
}

.findme {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 0;
}

.social a{
  color: inherit;
}

.social i{
  padding: 0 0.5rem;
}

.social i:hover {
  transform: scale(1.2);
}

.project:hover {
  transform: scale(1.05);
}

.fa-github:hover {
  color: #000;
}

.fa-linkedin:hover {
  color: #0e76a8;
}

@media only screen and (max-width: 768px) {
  .glass {
    width: 85%;
  }
  .projects {
    justify-content: space-around;
  }
}
