:root{
	--bg-color: black;
	--font-color: white;
}
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family:"europa", Segoe UI, san-serif;
	scroll-behavior: smooth;
}

body{
	/* background-image: repeating-linear-gradient(120deg, #8198c1 0%, #f68084 100%); */
	/* background-size: cover;  */
	background-color:var(--bg-color);
	color:var(--font-color);

}
::selection {
  color: var(--font-color);
  background: var(--bg-color);
}
::-moz-selection { /* Code for Firefox */
	color: var(--font-color);
	background: var(--bg-color);
}

.arrow{
	transform: scaleX(1.8) scaleY(1.5) rotate(90deg);
	height:20px;
}
.github{
	content:url("../images/github.png");
	
}
.linkedin{
	content:url("../images/linkedin.jpg");
}

.logo{
	height: 30px;
    width: 30px;
    border-radius: 50%;
    margin:0px 2px;
}

.logo:hover{
	opacity:0.5;
}

.about-info{
	height:80%;
}

.contact-me{
	height:20%;
	position:relative;
}

.switch-dark{
	float:right;
	font-size:15px;
	color:var(--font-color);
	padding:10px;
}

@media screen and (min-width:769px){
	.main-content{
		margin:auto;
		height:100%;
		width:100%;
	}

	.dev-name{
		font-size:40px;
		font-weight:700;
	}

	.content{
		width:600px;
		margin:auto;
		padding-top:100px;
	}

	#home, #about{
		height:100%;
		width:100%;
		color:var(--font-color);
		padding-top: 100px;
		text-align: center;
	}
	#home{
		height: 90%;
	}

	.about-link{
		color:var(--font-color);
		text-align:center;
		font-size: 20px;
	}

	.down-arrow{
		color:var(--font-color);
		text-decoration:none;
	}
	.find-text{
		font-size:25px;
		margin-bottom:7px;
	}
	.about-content{
		font-size:22px;
		padding:35px;
		margin: 35px;
	    max-width: -webkit-fill-available;
	    text-align: center;
	}
	.logo{
		height:40px;
		width:40px;

	}
}

@media screen and (min-width:426px) and (max-width:768px){
	.dev-name{
		font-size:25px;
		font-weight:700;
		margin:10px;
		margin-bottom:0px;
	}

	.about-link{
		color:var(--font-color);
		text-align:center;
		font-size: 15px;
	}

	.down-arrow{
		color:var(--font-color);
		text-decoration:none;
	}
	.main-content{
		margin:auto;
		height:100%;
		width:100%;
	}

	.content{
		width:100%;
		margin:auto;
		padding-top:100px;
	}

	#home, #about{
		height:100%;
		width:100%;
		color:var(--font-color);
		padding-top: 100px;
		text-align: center;
	}
	#home{
		height: 90%;
	}
	.find-text{
		font-size:20px;
		margin-bottom:10px;
	}
	.about-content{
		font-size:18px;
		padding:30px;
	    margin: 20px;
	    max-width: -webkit-fill-available;
	    text-align: center;
	}
}


@media screen and (max-width: 425px){
	.main-content{
		margin:0px;
		height:100%;
		width:100%;
		max-width:425px;
	}

	#home, #about{
		height:100%;
		width:320px;
		color:var(--font-color);
		padding-top: 200px;
		text-align: center;
		margin: auto;
	}

	#home{
		height: 90%;
	}
	#about{
		padding-top: 100px;
	}

	.dev-name{
		font-size:25px;
		font-weight:700;
	}
	.about-link{
		color: var(--font-color);
		text-align: center;
		font-size: 15px;
	}

	.down-arrow{
		color: var(--font-color);
		text-decoration: none;
	}
	.find-text{
		font-size:15px;
		margin-bottom:7px;
	}
	.about-content{
		font-size:16px;
		padding:20px;
		margin: 20px;
	    max-width: -webkit-fill-available;
	    text-align: center;
	}
}